$loading-offset: 54;
$loading-duration: 1.4s;
$loading-size: 28px;
@keyframes loading-dash {
  0% {
    stroke-dashoffset: $loading-offset;
    stroke: $color-grey-mid;
  }
  50% {
    stroke-dashoffset: $loading-offset/4;
    stroke: $color-primary-dark;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $loading-offset;
    stroke: $color-grey-mid;
    transform:rotate(450deg);
  }
}
@keyframes loading-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.loading {
  width: $loading-size;
  height: $loading-size;
  margin-left: auto;
  margin-right: auto;
  transform-origin: center;
  -webkit-animation: loading-rotate $loading-duration linear infinite;
  animation: loading-rotate $loading-duration linear infinite;
}

.loading--sibling {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 8px;
}

.loading__spinner {
  width: $loading-size;
  height: $loading-size;
}
.loading__path {
  stroke: $color-primary-dark;
  stroke-dasharray: $loading-offset;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: center;
  -webkit-animation: loading-dash $loading-duration ease-in-out infinite;
  animation: loading-dash $loading-duration ease-in-out infinite;
}
