.breadcrumb {
  @extend .list--unstyled;
  display: block;
  margin-bottom: $grid-unit;
  overflow: hidden;


  &__item {
    display: inline-block;

    .breadcrumb__link {
      position: relative;
      display: inline-block;
      padding: 8px;
      background: #fff;
    }

    &:nth-child(odd) .breadcrumb__link {
      background: $color-link;
      color: $color-body;
    }
  }
}
