# docker-compose file for local dev only
version: "3"

services:
  cargo-web-node:
    image: node:latest
    volumes:
      - .:/var/www
    ports:
      - 3000:3000
    working_dir: /var/www
    environment:
      APP_ENV: "dev"
      APP_VERSION: "dev-server"
    extra_hosts:
      api.dev.planetcargo.live: 172.19.0.1
    command:
#### For development ###########
#      - "node_modules/webpack-dev-server/bin/webpack-dev-server.js"
#      - "--config"
#      - "webpack/dev.config.js"
#      - "--host"
#      - "0.0.0.0"
#### For Testing prod server
      - "sh"
      - "-c"
      - >
        node_modules/webpack/bin/webpack.js --config webpack/client.config.js &&
        node_modules/webpack/bin/webpack.js --config webpack/server.config.js &&
        APP_ENV=dev APP_VERSION=dev-server node server.js

  cargo-web-nginx:
    image: nginx:latest
    links:
      - cargo-web-node
    ports:
      - 80:80
    volumes:
      - .:/var/www
      - ./nginx:/etc/nginx/conf.d
