.t-doc {
  display: grid;
  grid-template-columns: [edge-left] 0 [main] calc(100% - 32px) 0 [edge-right];
  grid-gap: $grid-unit;
}

.t-doc__title {
  grid-column: main;
  margin: $grid-unit 0;
}

.t-doc__main {
  grid-column: main;
}

@include mq($from: xxl) {
  .t-doc {
    grid-template-columns: [edge-left] 1fr [main] 1232px 1fr [edge-right]; // todo - variables for number
  }
}

