.t-fleet {
  &__title-bar {
    @extend %template-title-header;
    display: flex;
    align-items: center;
    padding: ($grid-unit * 2) ($grid-unit * 2) ($grid-unit * 2) $grid-unit;
    color: $color-white;
  }
  &__title {
    flex: 1;
    line-height: 1;
  }
  &__flag {
    width: 60px;
    margin-left: $grid-unit;
  }

  &__ships {
    margin-bottom: $grid-unit;
  }

  &__aside {

  }
  &__main {
    width: 100%;
    padding: 0 $grid-unit;
  }

  @include mq($from: xl) {
    &__main {
      display: flex;
    }
    &__ships {
      flex: 1;
      display: flex;
      margin-bottom: 0;
    }
    &__aside {
      width: 40%;
      margin-left: $grid-unit;
    }
  }
}
