.t-home {
  display: grid;
  grid-template-columns: [edge-left] 0 [main] calc(100% - #{($grid-unit * 2)}) 0 [edge-right];
  grid-gap: $grid-unit;
}
.t-home__hero {
  @extend %template-title-header;
  grid-column: edge-left / edge-right;
  grid-row: 1;
}
.t-home__hero-contents {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 32px $grid-unit;
}

.t-home__main,
.t-home__aside,
.t-home__play{
  grid-column: main;
}

.t-home__play {
  grid-row: 2;
}

@include mq($from: m) {
  .t-home {
    grid-template-columns: [edge-left] 1fr [main] calc(50% - #{($grid-unit * 2)}) [aside] calc(50% - #{($grid-unit * 2)}) 1fr [edge-right];
    grid-template-rows: [hero] auto [content-start] auto [aside-start] auto [end];
  }

  .t-home__main {
    grid-column: main;
    grid-row: content-start / end;
  }

  .t-home__play {
    grid-column: aside;
    grid-row: content-start;
  }

  .t-home__aside {
    grid-column: aside;
    grid-row: aside-start;
  }
}

@include mq($from: l) {
  .t-home {
    grid-template-columns: [edge-left] 1fr [main] calc(60% - #{($grid-unit * 2)}) [aside] calc(40% - #{($grid-unit * 2)}) 1fr [edge-right];
  }
}

@include mq($from: xxl) {
  .t-home {
    grid-template-columns: [edge-left] 1fr [main] 736px [aside] 480px 1fr [edge-right];
  }
}
