.t-play {
  &__navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $play-bar-height;
  }

  &__content-contain {
    max-width: $max-content-width;
    margin: $masthead-height auto $play-bar-height;
    padding: ($grid-unit * 2) $grid-unit;
  }
}