body {
  background: $color-body;
  color: $color-text;
  font-family: $font-body;
  margin: 0 auto;
  padding-top: $masthead-height + $grid-unit;
  max-width: $max-content-width;
}

a {
  font-weight: inherit;
  color: $color-link;
  text-decoration: inherit;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
