body {
  background: $color-body-bg;
  color: $color-body-text;
  font-family: $font-body;
  margin: 0;
  padding: 0;
}

a {
  font-weight: inherit;
  color: $color-body-link;
  text-decoration: inherit;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.base-width-limit {
  width: 100%;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}
