.breadcrumb {
  @extend .list--unstyled;
  display: block;
  margin-bottom: $grid-unit;
  overflow: hidden;
  background: $color-primary-dark;
  padding: 0 $grid-unit / 2;

  &__item {
    display: inline-block;

    &:after {
      display: inline-block;
      margin: 0 $grid-unit / 2;
      width: 0;
      height: 0;
      border: solid 6px transparent;
      border-left-color: $color-white;
      content: "";
    }
  }

  &__link {
    display: inline-block;
    padding: 8px;
    color: $color-white;
  }

  &__play {
    float: right; // todo - use flexbox
    display: inline-block;
    margin: 4px 0;
    padding: 4px 8px;
    border-radius: 4px; // todo - standard button
    background-color: $color-white;
    text-transform: uppercase;
    font-size: 0.8rem; // todo - use a variable
  }
}
