.btn {
  outline: none;
  display: inline-block;
  border: none;
  border-bottom: solid $size-input-border rgba(0,0,0,0.2);
  background: rgb(228, 228, 228);
  padding: $grid-unit / 2 $grid-unit;
  border-radius: 4px;
  user-select: none;
  font-weight: bold;
  &:not([disabled]) {
    &:hover, &:focus {
      background: rgba(0,0,0,0.5);
      color: #fff;
      text-decoration: none;
    }
    &:active {
      top: 1px;
      left: 0;
      border-bottom-color: transparent;
    }
  }
  &[disabled] {
    opacity: 0.7;
  }

  &--confirm {
    background: $color-ok;
    color: #fff;
  }

  &--danger {
    background: $color-important;
    color: #fff;
  }

  &--soft-danger {
    color: $color-important;
  }
}