.input {
  width: 100%;
  border: none;
  border-bottom: solid $size-input-border rgba(0,0,0,0.2);
  background: $color-white;
  padding: 0 $grid-unit / 2;
  outline: none;
  &:active, &:focus {
    border-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}