// restore proper margins to semantic objects
.text--prose {
  p, ul, ol, h1, h2, h3, h4, h5, h6, table {
    // when part of prose, elements get their spacing back
    margin-bottom: $grid-unit;
  }
  li {
    padding-left: $grid-unit;
  }
  p, ul, ol {
    // maximum readable line-length
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}