<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8" />
  <title>Shippin' [space]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- todo - many more meta tags -->
</head>
<body>
<!-- todo - server render a home page -->
<div id="root"></div>
<script>
  window._CONFIG_ = {
    assetPrefix: null,
    apiHostname: '<%= htmlWebpackPlugin.options.apiHost %>' || 'https://api.' + window.location.hostname,
    appVersion: 'client', // todo - server render values
    appEnv: 'client', // todo - server render values
    host: 'client', // todo - server render values
  };
</script>
</body>
</html>
