.destinations {
  width: 100%;
  border: solid 1px $color-panel-bg;

  thead {
    display: none;
  }

  td {
    padding: ($grid-unit / 4) ($grid-unit / 2);
    min-height: 48px;
    border: $color-panel-bg solid 1px;
  }

  .destinations__row {

    &--inactive {
      opacity: 0.6;
      td {
        height: 48px;
      }
    }
  }

  &__direction {
    text-align: center;
    background: $color-grey-light;
    font-weight: bold;
  }

  &__destination {
    width: 100%;
    font-weight: bold;
  }

  &__distance,
  &__earnings,
  &__time,
  &__actions {
    white-space: nowrap;
  }
}
