.login-form {
  $root: &;

  &__social-list {
    @extend .list--unstyled;
    margin-top: $grid-unit;
    margin-left: -$grid-unit;
    text-align: center;
    > li {
      margin: 0 0 $grid-unit $grid-unit;
      display: inline-block;
      vertical-align: top;
    }
  }

  $social-button-height: 48px;
  $social-button-padding: 8px;

  #{$root}__social-item {
    $bg-color: #4f4f4f;

    @extend .e;
    @extend .button;
    display: inline-block;
    height: $social-button-height;
    padding: $social-button-padding;
    line-height: $social-button-height - (2 * $social-button-padding);
    background: $bg-color;
    color: #fff;
    position: relative;
    &:after {
      content: "•";
      position: absolute;
      top: 2px;
      right: 2px;
      color: $bg-color;
      line-height: 6px;
      font-size: 2rem;
      text-decoration: none;
    }
    &:visited:after {
      color: $color-primary;
    }
    &:not([disabled]) {
      &:hover,
      &:focus {
        background: tint($bg-color, 20%);
      }
      &:active {
        box-shadow: none;
      }
    }

    &--facebook {
      $bg-color: #3b5998;
      background: $bg-color;
      color: #ffffff;
      &:after {
        color: $bg-color;
      }
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: tint($bg-color, 20%);
        }
      }
    }

    &--google {
      $bg-color: #fff;
      background: $bg-color;
      color: #121212;
      &:after {
        color: #fff;
      }
      &:not([disabled]) {
        &:hover,
        &:focus {
          color: currentColor;
          background: shade($bg-color, 20%);
        }
      }
    }

    &--twitter {
      $bg-color: #1da1f2;
      background: $bg-color;
      color: #ffffff;
      &:after {
        color: $bg-color;
      }
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: tint($bg-color, 20%);
        }
      }
    }
  }

  &__social-logo {
    display: inline-block;
    width: $social-button-height - (2 * $social-button-padding);
    vertical-align: top;

    &--twitter {
      padding-top: 4px;
    }
    &--microsoft,
    &--facebook {
      padding: 4px;
    }
    &--google {
      padding: 2px;
    }
  }

  &__social-text {
    display: inline-block;
    padding: 0 ($social-button-padding * 2);
  }
}
