.masthead-position {
  position: sticky;
  top: 0;
  width: 100%;
  background: fixed linear-gradient(45deg, hsl(276, 48%, 25%) 0%, hsl(258, 64%, 20%) 50%, hsl(242, 93%, 6%) 100%);
  z-index: $z-high-gold;
}


.masthead {
  $root: &;
  $masthead-background-color: rgba(0,0,0,0.2);
  $masthead-text-color: #fff;
  $masthead-link-padding: 8px;

  background: $masthead-background-color;

  color: $masthead-text-color;
  display: flex;
  justify-content: space-between;

  &__link {
    color: inherit;
    &:hover, &:active, &:focus {
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }

  &__link-box {
    display: flex;
    > a {
      display: flex;
      align-items: center;
      padding: $grid-unit;
    }
  }

  &__logo {
    @extend .d;
  }
  &__actions {
    display: flex;
  }

  &__score {
    display: flex;
    > a {
      display: flex;
      padding: 0 $grid-unit;
    }
  }

  &__profile {
    display: flex;
    position: relative;
    > a {
      padding: 0 $grid-unit 0 0;
      display: flex;
      svg {
        align-self: center;
        height: 32px;
        width: 32px + 12px;
        padding-left: 12px;
        border-left: solid 1px shade($masthead-text-color, 50%);
      }
    }
  }

  // todo - probably want to abstract this
  @keyframes pulse-notification {
    0% {
      background-color: $color-1;
    }
    70% {
      background-color: $color-1;
    }
    100% {
      background-color: $color-white;
    }
  }

  &__notify {
    display: block;
    width: $grid-unit * 0.75;
    height: $grid-unit * 0.75;
    position: absolute;
    top: $grid-unit / 2;
    right: $grid-unit / 2;
    border-radius: 100%;
    background-color: $color-1;
    animation: 1s pulse-notification infinite alternate ease-in;
  }
}
