.masthead-position {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.masthead {
  $masthead-background-color: #353535;
  $masthead-background-color-hover: #272727;
  $masthead-text-color: #fff;
  $masthead-link-padding: 8px;

  background: $masthead-background-color;
  color: $masthead-text-color;
  height: $masthead-height;
  display: flex;
  overflow: hidden;
  z-index: $z-high-gold;
  position: relative;
  pointer-events: auto;

  &__box-link {
    color: $masthead-text-color;
    padding: $masthead-link-padding;
    display: inline-block;
    &:hover, &:active, &:focus {
      background: $masthead-background-color-hover;
      text-decoration: none;
    }
    &--menu {
      width: $masthead-height;
      height: $masthead-height;
      fill: $masthead-text-color;
    }
    &--ship {
      line-height: $masthead-height - (2 * $masthead-link-padding);
    }
  }



  &__logo {
    flex: 1;
    > a {
      display: inline-block;
      color: inherit;
      padding: $grid-unit;
    }
  }

  &__login {
    text-align: right;
    > a {
      display: inline-block;
      padding: $grid-unit;
      color: inherit;
    }
  }
  &__score {
    flex: 1;
    text-align: right;
    padding: 0 ($masthead-link-padding * 2);
    line-height: $masthead-height;
  }
}