.player-list {
  @extend .list--unstyled;

  &__ship {
    display: block;
  }
  &__flag {
    display: inline-block;
    width: 40px;
    margin-right: $grid-unit / 2;
    vertical-align: top;
  }
  &__detail {
    display: inline-block;
    vertical-align: top;
  }
}