.m-icon-suffix {
  display: flex;
  align-items: center;

  @keyframes pulse-play-icon {
    0% {
      color: inherit;
      transform: translateX(-2px);
    }
    70% {
      color: inherit;
    }
    100% {
      color: $color-primary;
      transform: translateX(2px);
    }
  }

  &__text {
    display: inline-block;
  }
  &__icon {
    display: inline-block;
    margin-left: $grid-unit / 2;
    width: 28px;
    height: 28px;
  }

  &--animated {
    &__icon {
      animation: 1s pulse-play-icon infinite alternate ease-in;
    }
  }
}
