.messages {
  @extend .list--unstyled;

  &__message {
    background: $color-info;
    border-left: solid $grid-unit rgba(0,0,0,0.2);
    color: $color-white;
    padding: $grid-unit;
    border-radius: 2px;
    margin-bottom: $grid-unit;

    &--ok {
      background: $color-ok;
    }
    &--error {
      background: $color-important;
    }
    &--warning {
      background: $color-warning;
    }
  }
}