.m-message {
  $root: &;
  $icon-size: 32px;

  @mixin message($input-color) {
    background: $input-color;
    color: darken(saturate($input-color, 30%), 50%);
    #{$root}__icon {
      background: darken(saturate($input-color, 20%), 10%);
    }
  }

  @include message($color-info);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: $grid-unit;
  padding: 0;
  display: flex;

  & + &,
  &-wrap:not(:first-child) {
    margin-top: -1px;
  }

  &__icon {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: $grid-unit;
    line-height: 0;
    width: $icon-size + (2 * $grid-unit);
  }

  &__icon-img {
    width: $icon-size;
    height: $icon-size;
  }

  &__text {
    padding: $grid-unit / 2 $grid-unit;
    flex: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 1.2;
  }

  &--ok {
    @include message($color-ok);
  }
  &--error {
    @include message($color-danger);
  }
  &--warning {
    @include message($color-warning);
  }

}
