.modal {
  $header-height: $cta-size;
  $border-width: 1px;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-modal-blanking;

    // animate
    will-change: opacity;
    opacity: 0;
    transition: .2s linear;
    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }

  margin: $grid-unit;
  max-height: calc(100vh - #{(2 * $grid-unit)});
  border: $border-width solid rgb(204, 204, 204);
  background: $color-body-bg;
  color: $color-body-text;
  border-radius: 4px;
  outline: none;
  z-index: $z-modal-panel;

  &__header {
    height: $header-height;
    display: flex;
    border-bottom: solid 1px $color-keyline;
  }

  &__title {
    @extend .c;
    padding: $grid-unit;
    line-height: ($header-height - (2*$grid-unit));
    flex: 1;
  }

  &__close {
    line-height: $cta-size;
    width: $cta-size;
    background: none;
    border: none;
  }

  &__body {
    max-height: calc(100vh - (#{(2 * $grid-unit) + $header-height + (2 * $border-width)}));
    overflow: auto;
  }
  &__content {
    padding: $grid-unit;
  }

  // animate coming in and going out
  will-change: transform;
  transform: scale(0);
  transition: .3s cubic-bezier(0.13, 0.76, 0.82, 1.6);
  &--after-open {
    transform: scale(1);
  }

  &--before-close {
    transform: scale(0);
  }
}
