.panel {
  padding: $grid-unit;
  border-radius: $corner-radius-standard;
  background: $color-panel-bg;
  color: $color-panel-text;
  a {
    color: $color-tertiary-dark
  }
  &:not(:last-child) {
    margin-bottom: $grid-unit;
  }

  &__title {
    margin-bottom: $grid-unit;
  }
}
