.score {
  font-weight: bold;
  letter-spacing: 1px;
  &__digit {
    &:nth-last-child(3n):before {
      content: ','
    }
    &:first-child:before {
      content: '';
    }
  }

  &--dead {
    .score__digit {
      color: #c00;
    }
  }
}