.score {
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  &__digits {
    display: inline-block;
  }

  &__digit {
    &:nth-last-child(3n):before {
      content: ','
    }
    &:first-child:before {
      content: '';
    }
  }

  &--dead {
    .score__digit {
      color: #c00;
    }
  }
}
