.score {
  &__digit {
    display: inline-block;
    padding: 4px;
    margin: -4px 0 -4px 2px;
    background: #111;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem; // todo - use variable
    border-radius: 2px;
    &:first-child {
      margin-left: 0;
    }
    &:nth-last-child(2) {
      margin-left: 8px;
    }
  }

  &--dead {
    .score__digit {
      color: #c00;
      &:nth-last-child(1),
      &:nth-last-child(2) {
        color: #000;
        background: #c00;
      }
    }
  }
}