.table {
  width: 100%;
  border: solid 1px $color-panel-bg;
  thead {
    background: $color-panel-bg;
    color: $color-panel-text;
  }
  th, td {
    text-align: left;
    padding: $grid-unit / 2;
  }
}

.table--striped {
  tr:nth-child(even) {
    background: $color-grey-light;
    color: $color-body-text;
  }
}

.table-head {
  @extend .d;
  margin: 0;
  padding: $grid-unit / 2;
  background: $color-panel-bg;
  color: $color-panel-text;
}
