// Colours
// Palette: https://www.colourhunt.com/palette/cjfb5x5l4x5ts0141e6azz0ks/
$color-0: #2B1611;
$color-1: #B3220E;
$color-2: #FFD456;
$color-3: #EC9445;
$color-4: #25244C;

// Basic black and whites (always slightly off-colour to reduce neon effect)
$color-black: #121212;
$color-white: #fafafa;
@include colorHelper('color-black', $color-black);
@include colorHelper('color-white', $color-white);

// Neutral greys
$color-grey-darkest: lighten($color-black, 10%);
$color-grey-dark: lighten($color-black, 25%);
$color-grey-mid: lighten($color-black, 50%);
$color-grey-light: lighten($color-black, 75%);
$color-grey-lightest: lighten($color-black, 90%);
@include colorHelper('color-grey-darkest', $color-grey-darkest);
@include colorHelper('color-grey-dark', $color-grey-dark);
@include colorHelper('color-grey-mid', $color-grey-mid);
@include colorHelper('color-grey-light', $color-grey-light);
@include colorHelper('color-grey-lightest', $color-grey-lightest);

// brand colours
$color-main-black: $color-0;
$color-main-black-dark: shade($color-main-black, 10%);
$color-main-black-light: tint($color-main-black, 10%);
@include colorHelper('color-main-black', $color-main-black);
@include colorHelper('color-main-black-dark', $color-main-black-dark);
@include colorHelper('color-main-black-light', $color-main-black-light);

$color-off-black: $color-4;
$color-off-black-dark: shade($color-off-black, 20%);
$color-off-black-light: tint($color-off-black, 20%);
@include colorHelper('color-off-black', $color-off-black);
@include colorHelper('color-off-black-dark', $color-off-black-dark);
@include colorHelper('color-off-black-light', $color-off-black-light);

$color-primary: $color-3;
$color-primary-dark: shade($color-primary, 20%);
$color-primary-light: tint($color-primary, 20%);
@include colorHelper('color-primary', $color-primary);
@include colorHelper('color-primary-dark', $color-primary-dark);
@include colorHelper('color-primary-light', $color-primary-light);

$color-secondary: $color-2;
$color-secondary-dark: shade($color-secondary, 20%);
$color-secondary-light: tint($color-secondary, 20%);
@include colorHelper('color-secondary', $color-secondary);
@include colorHelper('color-secondary-dark', $color-secondary-dark);
@include colorHelper('color-secondary-light', $color-secondary-light);

$color-tertiary: $color-1;
$color-tertiary-dark: shade($color-tertiary, 20%);
$color-tertiary-light: tint($color-tertiary, 20%);
@include colorHelper('color-tertiary', $color-tertiary);
@include colorHelper('color-tertiary-dark', $color-tertiary-dark);
@include colorHelper('color-tertiary-light', $color-tertiary-light);


// message colours. not exactly on the palette as they have meaning in colour
$color-danger: hsl(7, 100%, 74%);
$color-warning: hsl(45, 100%, 74%);
$color-ok: hsl(131,100%, 74%);
$color-info: hsl(200,100%, 74%);
@include colorHelper('color-danger', $color-danger);
@include colorHelper('color-warning', $color-warning);
@include colorHelper('color-ok', $color-ok);
@include colorHelper('color-info', $color-info);

// named variables for special usages - these should all use the colours above
$color-body-bg: $color-main-black;
$color-body-text: $color-white;
$color-body-link: $color-secondary;

$color-keyline: $color-grey-mid;

$color-panel-bg: $color-primary-light;
$color-panel-text: $color-black;
$color-panel-link: $color-tertiary-dark;
