// Sizes
$grid-unit: 16px;
$size-input-border: 3px;

$max-content-width: 1280px;
$play-bar-height: 80px; // todo - can I work without this

$corner-radius-standard: 8px;

// Fonts
$font-body: 'share_tech_monoregular', monospace;
$font-body-monospace: $font-body;

$font-heading: inherit;

// z-indexes
$z-modal-panel: 3100;
$z-modal-blanking: 3000;

$z-high-gold: 2200;
$z-high-silver: 2100;
$z-high-bronze: 2000;

$z-page-gold: 1200;
$z-page-silver: 1100;
$z-page-bronze: 1000;

$z-default: 1;
$z-ground: 0;
$z-buried: -1;
