// Colours
$color-black: #121212;

$color-info: hsla(200, 50%, 52%, 1);
$color-ok: hsla(131, 50%, 52%, 1);
$color-important: hsla(10, 50%, 52%, 1);
$color-warning: hsla(50, 50%, 52%, 1);



$color-grey-darkest: #444148;
$color-grey-dark: #777;
$color-grey-mid: #999;
$color-grey-light: #bbb;
$color-grey-lightest: #ddd;
$color-white: #fafafa;

$color-primary-dark: #366854;
$color-primary-mid: #518f75;
$color-primary-light: #79c6a7;

$color-text: #424248;
$color-body: #fdfdfd;
$color-link: #3C4C9C;

$color-keyline: #93939c;

$color-panel: #a5c5c9;

// Sizes
$grid-unit: 16px;
$cta-size: 48px;

$max-content-width: 1280px;
$masthead-height: 48px;
$play-bar-height: 80px;

// Fonts
$font-body: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif-light,
  sans-serif;

$font-heading: inherit;

// z-indexes
$z-modal-panel: 3100;
$z-modal-blanking: 3000;

$z-high-gold: 2200;
$z-high-silver: 2100;
$z-high-bronze: 2000;

$z-page-gold: 1200;
$z-page-silver: 1100;
$z-page-bronze: 1000;

$z-default: 1;
$z-ground: 0;
$z-buried: -1;
