// Breakpoints
// These are the GEL breakpoints, with some extras to cover
// the large space between some of them
$mq-breakpoints: (
        xs: 320px,
        s: 480px,
        m: 600px,
        l: 768px,
        xl: 1008px,
        xxl: 1280px,
        xxxl: 1600px
) !default;

// convert the list of breakpoints into suffixes
$breakpoint-suffixes: ();
@each $key, $value in ($mq-breakpoints) {
  $suffix: '\\@#{$key}';
  $breakpoint-suffixes: map-merge($breakpoint-suffixes, ($key: $suffix));
}

@import '../vendor/mq';
